@using Teploset.EF
@{
    var lang = ViewBag.Lang;
    var postsList = ViewBag.Posts as List<PostCatalog>;
    var newsList = ViewBag.Newses as List<NewsCatalog>;
    var vacancies = ViewBag.Vacansies as List<VacancyCatalog>;
    var rm = lang == "ua" ? "читати далі..." : "далee...";
}

<!--  start slider-->
<div id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">
                        @{
                            var s1 = lang == "ua" ? "перший слайд" : "первый слайд";
                        }
                        @s1
                    </div>
                    <div class="clearfix"></div>
                    <h1>
                        @{
                            var r1 = lang == "ua" ? "роз'яснення до першого слайду" : "пояснения к первому слайду";
                        }
                        @r1
                    </h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">@rm</a>
                </div>
                <img src="~/Content/images/slides/001.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">
                        @{
                            var s2 = lang == "ua" ? "другий слайд" : "второй слайд";
                        }
                        @s2
                    </div>
                    <div class="clearfix"></div>
                    <h1>
                        @{
                            var r2 = lang == "ua" ? "роз'яснення до другого слайду" : "пояснения ко второму слайду";
                        }
                        @r2
                    </h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">@rm</a>
                </div>
                <img src="~/Content/images/slides/002.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">
                        @{
                            var s3 = lang == "ua" ? "третій слайд" : "третий слайд";
                        }
                        @s3
                    </div>
                    <div class="clearfix"></div>
                    <h1>
                        @{
                            var r3 = lang == "ua" ? "роз'яснення до третього слайду" : "пояснения к третьему слайду";
                        }
                        @r3
                    </h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">@rm</a>
                </div>
                <img src="~/Content/images/slides/003.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">
                        @{
                            var s4 = lang == "ua" ? "четвертий слайд" : "четвертый слайд";
                        }
                        @s4
                    </div>
                    <div class="clearfix"></div>
                    <h1>
                        @{
                            var r4 = lang == "ua" ? "роз'яснення до четвертого слайду" : "пояснения к четвертому слайду";
                        }
                        @r4
                    </h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">@rm</a>
                </div>
                <img src="~/Content/images/slides/004.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">
                        @{
                            var s5 = lang == "ua" ? "п'ятий слайд" : "пятый слайд";
                        }
                        @s5
                    </div>
                    <div class="clearfix"></div>
                    <h1>
                        @{
                            var r5 = lang == "ua" ? "роз'яснення до п'ятого слайду" : "пояснения к пятому слайду";
                        }
                        @r5
                    </h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">@rm</a>
                </div>
                <img src="~/Content/images/slides/005.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">
                        @{
                            var s6 = lang == "ua" ? "шостий слайд" : "шестой слайд";
                        }
                        @s6
                    </div>
                    <div class="clearfix"></div>
                    <h1>
                        @{
                            var r6 = lang == "ua" ? "роз'яснення до шостого слайду" : "пояснения к шестому слайду";
                        }
                        @r6
                    </h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">@rm</a>
                </div>
                <img src="~/Content/images/slides/006.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!-- end slider -->

<!-- top menu -->
<section id="icons" class="bottom-border-shadow">
    <div class="container bottom-border">
        <div class="row padding-vert-40">
            <!-- Icons -->
            <div class="col-md-3 col-sm-6 text-center">
                <a href="@Url.Action("Index")">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-cogs"></i></span>
                            </div>
                            <h3>
                                @{
                                    var posl = lang == "ua" ? "Послуги" : "Услуги";
                                }
                                @posl
                            </h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 hover-box" style="color: #000000">
                            <div class="inner-hover-box">
                                <p>
                                    @{
                                        var sposl = lang == "ua" ? "Перелік<br/>додаткових<br/>послуг" : "Список<br/>дополнительных<br/>услуг";
                                    }
                                    @sposl
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="http://teploseti.zp.ua/ru/abonent/">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-file-text-o color-primary"></i></span>
                            </div>
                            <h3>
                                @{
                                    var prCab = lang == "ua" ? "Особистий кабінет" : "Личный кабинет";
                                }
                                @prCab
                            </h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    @{
                                        var entry = lang == "ua" ? "Вхід до<br/>особистого<br/>кабінету" : "Вход в<br/>личный<br/>кабинет";
                                    }
                                    @entry
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="@Url.Action("Index")">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-bar-chart color-primary"></i></span>
                            </div>
                            <h3>
                                @{
                                    var tarif = lang == "ua" ? "Діючі тарифи" : "Действующие тарифы";
                                }
                                @tarif
                            </h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    @{
                                        var smtarif = lang == "ua" ? "Переглянути<br/>діючі<br/>тарифи" : "Действующие<br/>тарифы";
                                    }
                                    @smtarif
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="http://teplo.gov.ua/#subsidii">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-pencil-square-o color-primary"></i></span>
                            </div>
                            <h3>
                                @{
                                    var subs = lang == "ua" ? "Оформлення субсидії" : "Оформление субсидий";
                                }
                                @subs
                            </h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Роз'яснення<br/>щодо<br/>оформлення<br/>субсидій
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Icons -->
        </div>
    </div>
</section>
<!-- end top menu-->

<!--posts start-->
<section id="post" class="bottom-border-shadow">
    <div class="container bottom-border">
        <div class="row padding-vert-40">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="@Url.Action("Index","Post", new {id = lang})">об'яви</a></p>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="posts-list">
                            @if (postsList != null)
                            {
                                foreach (var post in postsList)
                                {
                                    <li>
                                        <div class="recent-post">
                                            <img class="pull-left" src="~/Content/images/newsimg/warning.png" alt="images" />
                                            <a href="@Url.Action("Details", "Post", new {id = post.PostId})" class="posts-title">Аварійне відключення</a>
                                            <br>
                                            <span class="posts-content">@post.PostTitle</span>
                                            <br>
                                            <span class="post-date">@post.DateTimeCreate.ToShortDateString()</span>
                                        </div>
                                    </li>
                                }
                            } 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="@Url.Action("Index","News", new {id = lang})">новини</a></p>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="posts-list margin-top-10">
                            @if (newsList != null)
                            {
                                foreach (var news in newsList)
                                {
                                    <li>
                                        <div class="recent-post">
                                            <img class="pull-left" width="64" height="48" src="~/Content/images/newsimg/energy.jpg" alt="images"/>
                                            <a href="@Url.Action("Details", "Post", new {id = news.NewsId})" class="posts-title">@news.NewsTitle</a>
                                            <br>
                                            <span class="post-date">@news.DateTimeCreate.ToShortDateString()</span>
                                        </div>
                                    </li>
                                    <br />
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="@Url.Action("Index","Vacancy", new {id = lang})">вакансії</a></p>
                        <hr />
                    </div>
                    <div class="panel-body text-left">
                        <ul class="list-unstyled ">
                            @if (vacancies != null)
                            {
                                for (int i = 0; i <= 3; i++)
                                {
                                    <li>
                                        <p><i class="fa fa-user color-primary"></i>&nbsp;&nbsp;&nbsp;@vacancies[i].VacancyName</p>
                                    </li>
                                }
                            }
                        </ul>
                        <br/>
                        <a href="@Url.Action("Details", "Vacancy", new {id = "ua"})">Детальніше &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>