@using Teploset.EF.Entities
@{
    var postsList = ViewBag.Posts as List<Post>;
    var newsList = ViewBag.Newses as List<News>;
    var vacancies = ViewBag.Vacansies as List<Vacancy>;
}

<!--  start slider-->
<div id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">первый слайд</div>
                    <div class="clearfix"></div>
                    <h1>пояснения к первому слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читать далее...</a>
                </div>
                <img src="~/Content/images/slides/001.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">второй слайд</div>
                    <div class="clearfix"></div>
                    <h1>пояснения ко второму слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читать далее...</a>
                </div>
                <img src="~/Content/images/slides/002.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">третий слайд</div>
                    <div class="clearfix"></div>
                    <h1>пояснения к третьему слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читать дальее...</a>
                </div>
                <img src="~/Content/images/slides/003.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">четвертый слайд</div>
                    <div class="clearfix"></div>
                    <h1>пояснения к четвертому слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читать далее...</a>
                </div>
                <img src="~/Content/images/slides/004.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">пятий слайд</div>
                    <div class="clearfix"></div>
                    <h1>пояснення к пятому слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читать далее...</a>
                </div>
                <img src="~/Content/images/slides/005.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">шестой слайд</div>
                    <div class="clearfix"></div>
                    <h1>пояснения к шестому слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читать далее...</a>
                </div>
                <img src="~/Content/images/slides/006.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!-- end slider -->
<!-- top menu -->
<section id="icons" class="bottom-border-shadow">
    <div class="container bottom-border">
        <div class="row padding-vert-40">
            <!-- Icons -->
            <div class="col-md-3 col-sm-6 text-center">
                <a href="@Url.Action("Index")">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-cogs"></i></span>
                            </div>
                            <h3>Услуги</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 hover-box" style="color: #000000">
                            <div class="inner-hover-box">
                                <p>
                                    Просмотреть<br />дополнительные<br />услуги
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="http://teploseti.zp.ua/ru/abonent/">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-file-text-o color-primary"></i></span>
                            </div>
                            <h3>Личный кабинет</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Вход в<br />личный<br />кабинет.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="@Url.Action("Index")">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-bar-chart color-primary"></i></span>
                            </div>
                            <h3>Действующие тарифы</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Просмотреть<br />действующие<br />тарифы.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="http://teplo.gov.ua/#subsidii">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-pencil-square-o color-primary"></i></span>
                            </div>
                            <h3>Оформления субсидий</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Пояснения<br />по<br />оформлению<br />субсидий
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Icons -->
        </div>
    </div>
</section>
<!-- end top menu-->
<!--posts start-->
<section id="post" class="bottom-border-shadow">
    <div class="container bottom-border">
        <div class="row padding-vert-40">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="#">Объявления</a></p>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="posts-list">
                            @if (postsList != null)
                            {
                                foreach (var post in postsList)
                                {
                                    <li>
                                        <div class="recent-post">
                                            <img class="pull-left" src="~/Content/images/newsimg/warning.png" alt="images" />
                                            <a href="#" class="posts-title">Аварийные отключения</a>
                                            <br>
                                            <span class="posts-content">@post.PostTitle</span>
                                            <br>
                                            <span class="post-date">@post.DateTimeCreate.ToShortDateString()</span>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="#">новости</a></p>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="posts-list margin-top-10">
                            @if (newsList != null)
                            {
                                foreach (var news in newsList)
                                {
                                    <li>
                                        <div class="recent-post">
                                            <img class="pull-left" width="64" height="48" src="~/Content/images/newsimg/energy.jpg" alt="images" />
                                            <a href="#" class="posts-title">@news.NewsTitle</a>
                                            <br>
                                            <span class="post-date">@news.DateTimeCreate.ToShortDateString()</span>
                                        </div>
                                    </li>
                                    <br />
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="#">вакансии</a></p>
                        <hr />
                    </div>
                    <div class="panel-body text-left">
                        <ul class="list-unstyled ">
                            @if (vacancies != null)
                            {
                                for (int i = 0; i <= 3; i++)
                                {
                                    <li>
                                        <p><i class="fa fa-user color-primary"></i>&nbsp;&nbsp;&nbsp;@vacancies[i].VacancyName</p>
                                    </li>
                                }
                            }
                        </ul>
                        <br />
                        <a href="#">Детальнее &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>