@{
    var lang = ViewBag.Lang;
} 

<!-- Bottom Start -->
<div class="templatemo_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="https://ru-ru.facebook.com/zpTeploseti/" target="_blank">FACEBOOK</a>
            </div>
            <div class="col-md-7">
                <ul class="list-unstyled list-inline">
                    |
                    <li>
                        <a href="@Url.Action("Index", "Home", new {id = lang})">
                            @{
                                var main = lang == "ua" ? "Головна" : "Главная";
                            }
                            @main
                        </a>
                    </li>
                    |
                    <li>
                        <a href="@Url.Action("Index", "News", new {id = lang})">
                            @{
                                var news = lang == "ua" ? "Новини" : "Новости";
                            }
                            @news 
                        </a>
                    </li>
                    |
                    <li>
                        <a href="@Url.Action("Index", "Post", new {id = lang})">
                            @{
                                var post = lang == "ua" ? "Об'яви" : "Объявления";
                            }
                            @post 
                        </a>
                    </li>
                    |
                    <li>
                        <a href="@Url.Action("Login", "Account")">Вхід</a>
                    </li> 
                    |
                    <li>
                        <a href="@Url.Action("Contact", "Home", new {id = lang})">
                            @{
                                var contact = lang == "ua" ? "Контакти" : "Контакты";
                            }
                            @contact 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span style="float: right">
                    @{
                        var flogo = lang == "ua" ? "Міські теплові мережі" : "Городские тепловые сети";
                    }
                    &copy;@DateTime.Now.Year Концерн &laquo;@flogo&raquo;
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Bottom End -->
