<header>
    <div id="top_header">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home", new {id = "ua"} )">
                        <img src="~/Content/images/logo_ua.png" width="211" height="70" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div id="strapline">
                    <div id="welcome_slogan">
                        <h3>З теплом до кожної родини</h3>
                    </div><!--close welcome_slogan-->
                </div><!--close strapline-->
            </div>
            <div class="col-md-2">
                <div class="lang-info">
                    <a href="@Url.Action("Index", "Home", new {id = "ua"} )"><img src="~/Content/images/icons/uk.gif" alt="" /></a>
                    <a href="@Url.Action("Index", "Home", new {id = "ru"} )"><img src="~/Content/images/icons/ru.gif" alt="" /></a>
                    <br />
                    <div style="padding-top:15px;">
                        <span style="color:#005fa1;">Аварійна</span>
                        <span style="color:#ff0000"> 15-80</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="hornav">
                        <ul id="menu">
                            <li><a href="@Url.Action("Index", "Home", new {id = "ua"} )">ГОЛОВНА</a></li>
                            <li>
                                <a>ПРО КОНЦЕРН</a>
                                <ul>
                                    <li><a href="@Url.Action("About", "Home", new {id = "ua"} )">Історія підприемства</a></li>
                                    <li><a >Керівництво</a></li>
                                    <li><a >Сфера діяльності</a></li>
                                    <li class="parent">
                                        <a>Додаткові послуги</a>
                                        <ul>
                                            <li>
                                                <a>
                                                    Проектні послуги
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Послуги технічних лабораторій(УТПП)
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Послуги відділу розвитку та теплової інспекції
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            Стратегія розвитку підприемства
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Нагороди та досягнення
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Вакансії
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>ТАРИФИ</a>
                                <ul>
                                    <li class="parent">
                                        <a>Діючі тарифи</a>
                                        <ul>
                                            <li>
                                                <a>
                                                    Тарифи для населення
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Тарифи для бюджетних організацій, інших споживачів (крім населення) та релігійних організацій
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Тарифи для управителів багатоквартирних будинків
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a>Архів тарифів</a>
                                        <ul>
                                            <li>
                                                <a>
                                                    Історія внесення змін у тарифи для населення
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Історія внесення змін в тарифи для бюджетних та госпрозрахункових споживачів
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a>Коментарі та роз'яснення</a>
                                        <ul>
                                            <li><a>Тариф на підігрів</a></li>
                                            <li><a>Про начислення по домівках з приборами обліку</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>ПУБЛІЧНА ІНФОРМАЦІЯ</a>
                                <ul>
                                    <li><a>Нормативно-правова база</a></li>
                                    <li><a>Тендери</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact", "Home", new {id = "ua"} )">КОНТАКТИ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>