<header>
    <div id="top_header">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home", new { id = "ru" })">
                        <img src="~/Content/images/logo_ua.png" width="211" height="70" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div id="strapline">
                    <div id="welcome_slogan">
                        <h3>С теплом к каждой семье</h3>
                    </div><!--close welcome_slogan-->
                </div><!--close strapline-->
            </div>
            <div class="col-md-2">
                <div class="lang-info">
                    <a href="@Url.Action("Index", "Home", new { id = "ua" })"><img src="~/Content/images/icons/uk.gif" alt="" /></a>
                    <a href="@Url.Action("Index", "Home", new { id = "ru" })"><img src="~/Content/images/icons/ru.gif" alt="" /></a>
                    <br />
                    <div style="padding-top:15px;">
                        <span style="color:#005fa1;">Аварийная</span>
                        <span style="color:#ff0000"> 15-80</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="hornav">
                        <ul id="menu">
                            <li><a href="@Url.Action("Index", "Home", new { id = "ru" })">ГЛАВНАЯ</a></li>
                            <li>
                                <a>О КОНЦЕРНЕ</a>
                                <ul>
                                    <li><a>История предприятия</a></li>
                                    <li><a>Руководство</a></li>
                                    <li><a>Сфера деяльности</a></li>
                                    <li class="parent">
                                        <a>Дополнительные услуги</a>
                                        <ul>
                                            <li>
                                                <a>
                                                    Проектные услуги
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Услуги технических лабораторий(УТПП)
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Услуги отдела развития и тепловой инспекции
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            Стратегия развития предприятия
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Награды и достижения
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Вакансии
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>ТАРИФЫ</a>
                                <ul>
                                    <li class="parent">
                                        <a>Действующие тарифы</a>
                                        <ul>
                                            <li>
                                                <a>
                                                    Тарифы для населения
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Тарифы для бюджетных организаций, прочих потребителей (кроме населения) и религиозных организаций
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Тарифы для управляющих многоквартирных домов
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a>Архив тарифов</a>
                                        <ul>
                                            <li>
                                                <a>
                                                    История внесения изменений в тарифы для населения
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    История внесения изменений в тарифы для бюджетных и хозрасчетных потребителей
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="parent">
                                        <a>Коментарии и разъяснения</a>
                                        <ul>
                                            <li><a>Тариф на подогрев</a></li>
                                            <li><a>О начислениях по домам с приборами учета</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>ПУБЛИЧНАЯ ИНФОРМАЦИЯ</a>
                                <ul>
                                    <li><a>Нормативно-правовая база</a></li>
                                    <li><a>Тендеры</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact", "Home", new { id = "ru" })">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>
